.main-container .ctn-header {
    background: #141414;
}

.main-container .ctn-header .ctn-main-menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main-container .ctn-header .ctn-main-menu .main-menu {
    justify-content: center;
    align-items: center;
}

.main-container .ctn-header .ctn-main-menu .main-menu .main-nav {
    list-style: none;
}

.main-container .ctn-header .ctn-main-menu .main-menu .main-nav ul {
    margin-bottom: 0 !important;
}

.main-container .ctn-header .ctn-main-menu .main-menu .main-nav li {
    display: inline-block;
    margin-right: 32px;
}

.main-container .ctn-header .ctn-main-menu .main-menu .main-nav li a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    line-height: 25px;
    padding: 20px 0;
    font-weight: 500;
}

.main-container .ctn-header .ctn-main-menu .main-menu .main-nav li:hover a {
    color: #E4B33D;
}
